
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clinical Trial Search Engine</title>
    <meta name="copyright" content="columbia university" />
    <meta name="author" content="Yingcheng Sun, Jiaqi Tang, Alex Butler, Chunhua Weng">

    <!-- style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">



    <!-- javascript -->

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>




    <link rel="stylesheet" href="https://seiyria.com/bootstrap-slider/css/bootstrap.min.css">
    <!-- <link href="https://seiyria.com/bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet"> -->
   <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./static/css/jquery-ui.css">
    <link rel="stylesheet" href="./static/css/bootstrap-slider.css">
   
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script type=application/javascript>
        var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% block head %}
    <link rel="stylesheet" href="./static/css/base.css">
    {% endblock %}
    <style> 


</style> 

</head>
<body>



    <div class="ui stackable secondary container menu" style="float:right; width: 100%;">
        <div class="ui logo shape">
            
        </div>
        <div class="right menu" style="align:right;font-size: 14px">
            <div class="item">
                <a href='/search_form'> <i class="fa fa-search mr-1"></i></i>Home </a>
            </div>
            <div class="item">
                <a href='https://github.com/WengLab-InformaticsResearch/COVID-Trial-Recommendation' target="_blank"> <i class="github icon"></i>GitHub</a>
            </div>
            
            <div class="item">
                <a href='http://people.dbmi.columbia.edu/~chw7007/' target="_blank"> <i class="address card icon"></i>About The Team</a>
            </div>
            <div class="item">
                <a href='mailto:yingcheng.sun@columbia.edu' target="_blank"> <i class="fa fa-envelope"></i> Contact Us</a>
            </div>

        </div>
    </div>





{% block content %}

{% endblock %}

<script src="https://use.fontawesome.com/007fd3ce0b.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://seiyria.com/bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="./static/js/search.js"></script>
<script src="./static/js/result_page.js"></script>

</body>
</html>
