<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f1a28a75bce849c58c4d03b1749fe124 {
                    position: relative;
                    width: 20.0%;
                    height: 30.0%;
                    left: 25.0%;
                    top: 0.0%;
                }
            </style>
        
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bc21ab0b80af41fe9bc44c7c0c74e579 {
                    position: relative;
                    width: 20.0%;
                    height: 30.0%;
                    left: 50.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@master/folium/templates/leaflet_heat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/jieter/Leaflet.Sync/L.Map.Sync.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_f1a28a75bce849c58c4d03b1749fe124" ></div>
        
    
            <div class="folium-map" id="map_bc21ab0b80af41fe9bc44c7c0c74e579" ></div>
        
</body>
<script>    
    
            var map_f1a28a75bce849c58c4d03b1749fe124 = L.map(
                "map_f1a28a75bce849c58c4d03b1749fe124",
                {
                    center: [39.8283, -98.5795],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                    float: "left",
                    display: "inline",
                }
            );

            

        
    
            var tile_layer_c78602f9f5254b529c414afe9e845f46 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f1a28a75bce849c58c4d03b1749fe124);
        
    
            var marker_f121b68326eb4d3894c8685107ebb56a = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_f1a28a75bce849c58c4d03b1749fe124);
        
    
        var popup_cae896c6433a41eda4fa8632a67a6c96 = L.popup({"maxWidth": "100%"});

        
            var html_b196a73ddd1749b5ad42cc7953afed3d = $(`<div id="html_b196a73ddd1749b5ad42cc7953afed3d" style="width: 100.0%; height: 100.0%;">NCT04354714<br><br>Ruxolitinib to Combat COVID-19</div>`)[0];
            popup_cae896c6433a41eda4fa8632a67a6c96.setContent(html_b196a73ddd1749b5ad42cc7953afed3d);
        

        marker_f121b68326eb4d3894c8685107ebb56a.bindPopup(popup_cae896c6433a41eda4fa8632a67a6c96)
        ;

        
    
    
            var marker_d6e57e1b425644feb6f27ea18530e744 = L.marker(
                [38.0027, -78.6089],
                {}
            ).addTo(map_f1a28a75bce849c58c4d03b1749fe124);
        
    
        var popup_e41befe8a1464fa781fb1ecc5186c303 = L.popup({"maxWidth": "100%"});

        
            var html_d880016b2fb54eb4ab5d0dae9b566b3a = $(`<div id="html_d880016b2fb54eb4ab5d0dae9b566b3a" style="width: 100.0%; height: 100.0%;">NCT04374565<br><br>Convalescent Plasma for Treatment of COVID-19 Patients With Pneumonia</div>`)[0];
            popup_e41befe8a1464fa781fb1ecc5186c303.setContent(html_d880016b2fb54eb4ab5d0dae9b566b3a);
        

        marker_d6e57e1b425644feb6f27ea18530e744.bindPopup(popup_e41befe8a1464fa781fb1ecc5186c303)
        ;

        
    
    
            var marker_8263624de79546d08ac656ce0fb57197 = L.marker(
                [41.7804, -87.597],
                {}
            ).addTo(map_f1a28a75bce849c58c4d03b1749fe124);
        
    
        var popup_8cd7c875df394ae38755156bfb10d3e8 = L.popup({"maxWidth": "100%"});

        
            var html_fc1a4b5cc02f487fbee055ba2ac2999d = $(`<div id="html_fc1a4b5cc02f487fbee055ba2ac2999d" style="width: 100.0%; height: 100.0%;">NCT04331795<br><br>Tocilizumab to Prevent Clinical Decompensation in Hospitalized, Non-critically Ill Patients With COVID-19 Pneumonitis</div>`)[0];
            popup_8cd7c875df394ae38755156bfb10d3e8.setContent(html_fc1a4b5cc02f487fbee055ba2ac2999d);
        

        marker_8263624de79546d08ac656ce0fb57197.bindPopup(popup_8cd7c875df394ae38755156bfb10d3e8)
        ;

        
    
    
            var marker_dbfd20bf3881473bba0d0cc087cc00ed = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_f1a28a75bce849c58c4d03b1749fe124);
        
    
            var icon_0212103fc77f4ab9a54a93235fc5a161 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_dbfd20bf3881473bba0d0cc087cc00ed.setIcon(icon_0212103fc77f4ab9a54a93235fc5a161);
        
    
        var popup_fa501354985f4468a94a7619ece516a0 = L.popup({"maxWidth": "100%"});

        
            var html_d65329b88e3a4061b2b43292d9708807 = $(`<div id="html_d65329b88e3a4061b2b43292d9708807" style="width: 100.0%; height: 100.0%;">NCT04372602<br><br>Duvelisib to Combat COVID-19</div>`)[0];
            popup_fa501354985f4468a94a7619ece516a0.setContent(html_d65329b88e3a4061b2b43292d9708807);
        

        marker_dbfd20bf3881473bba0d0cc087cc00ed.bindPopup(popup_fa501354985f4468a94a7619ece516a0)
        ;

        
    
    
            var map_bc21ab0b80af41fe9bc44c7c0c74e579 = L.map(
                "map_bc21ab0b80af41fe9bc44c7c0c74e579",
                {
                    center: [39.8283, -98.5795],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                    float: "left",
                    display: "inline",
                }
            );

            

        
    
            var tile_layer_c641d6bfb465487da361c7cbffd1a42f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bc21ab0b80af41fe9bc44c7c0c74e579);
        
    
            var heat_map_01df0ca256884fcfa4dee691b19ea103 = L.heatLayer(
                [[38.6266, -90.2694], [38.0027, -78.6089], [41.7804, -87.597]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 15}
            ).addTo(map_bc21ab0b80af41fe9bc44c7c0c74e579);
        
    
            var heat_map_848017df7f0f4280b3e8d757a167d759 = L.heatLayer(
                [[38.6266, -90.2694]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 15}
            ).addTo(map_bc21ab0b80af41fe9bc44c7c0c74e579);
        
    
            map_f1a28a75bce849c58c4d03b1749fe124.sync(map_bc21ab0b80af41fe9bc44c7c0c74e579);
            map_bc21ab0b80af41fe9bc44c7c0c74e579.sync(map_f1a28a75bce849c58c4d03b1749fe124);
        
</script>