<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_753c922320a141a68e7ff1b032d779e0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_753c922320a141a68e7ff1b032d779e0" ></div>
        
</body>
<script>    
    
            var map_753c922320a141a68e7ff1b032d779e0 = L.map(
                "map_753c922320a141a68e7ff1b032d779e0",
                {
                    center: [39.8283, -98.5795],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1afe06e3eda846f8967632a1b14d6dc4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_753c922320a141a68e7ff1b032d779e0);
        
    
            var marker_811db0e9acc744adbd8efeb920a45451 = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_753c922320a141a68e7ff1b032d779e0);
        
    
        var popup_26440b821c354730b92253eb667ede3d = L.popup({"maxWidth": "100%"});

        
            var html_35999fae148e453082f062361cc9cd1d = $(`<div id="html_35999fae148e453082f062361cc9cd1d" style="width: 100.0%; height: 100.0%;">NCT04354714<br><br>Ruxolitinib to Combat COVID-19</div>`)[0];
            popup_26440b821c354730b92253eb667ede3d.setContent(html_35999fae148e453082f062361cc9cd1d);
        

        marker_811db0e9acc744adbd8efeb920a45451.bindPopup(popup_26440b821c354730b92253eb667ede3d)
        ;

        
    
    
            var marker_3a86352f87ea4a25a1e36e5d0af54f1f = L.marker(
                [38.0027, -78.6089],
                {}
            ).addTo(map_753c922320a141a68e7ff1b032d779e0);
        
    
        var popup_cc3a77f5c9c045e38f44ca7b0d0d6ff5 = L.popup({"maxWidth": "100%"});

        
            var html_dc882bd53eaf4f18aa2a354c252b9d80 = $(`<div id="html_dc882bd53eaf4f18aa2a354c252b9d80" style="width: 100.0%; height: 100.0%;">NCT04374565<br><br>Convalescent Plasma for Treatment of COVID-19 Patients With Pneumonia</div>`)[0];
            popup_cc3a77f5c9c045e38f44ca7b0d0d6ff5.setContent(html_dc882bd53eaf4f18aa2a354c252b9d80);
        

        marker_3a86352f87ea4a25a1e36e5d0af54f1f.bindPopup(popup_cc3a77f5c9c045e38f44ca7b0d0d6ff5)
        ;

        
    
    
            var marker_bc3998f35e3b43a9ab989b7bd3b521dd = L.marker(
                [41.7804, -87.597],
                {}
            ).addTo(map_753c922320a141a68e7ff1b032d779e0);
        
    
        var popup_4f7db8fe0aaa48e5a1e2fe9e05a29ad3 = L.popup({"maxWidth": "100%"});

        
            var html_031e90c3307d4ae194ce8b4f04db42da = $(`<div id="html_031e90c3307d4ae194ce8b4f04db42da" style="width: 100.0%; height: 100.0%;">NCT04331795<br><br>Tocilizumab to Prevent Clinical Decompensation in Hospitalized, Non-critically Ill Patients With COVID-19 Pneumonitis</div>`)[0];
            popup_4f7db8fe0aaa48e5a1e2fe9e05a29ad3.setContent(html_031e90c3307d4ae194ce8b4f04db42da);
        

        marker_bc3998f35e3b43a9ab989b7bd3b521dd.bindPopup(popup_4f7db8fe0aaa48e5a1e2fe9e05a29ad3)
        ;

        
    
    
            var marker_882e52d46ba64a7dba02e86684f25947 = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_753c922320a141a68e7ff1b032d779e0);
        
    
            var icon_2198a138de1f4c79a43170eab81e77b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_882e52d46ba64a7dba02e86684f25947.setIcon(icon_2198a138de1f4c79a43170eab81e77b7);
        
    
        var popup_d9fbbda889eb441cbdc05ef1a53dafde = L.popup({"maxWidth": "100%"});

        
            var html_2ff55cebdc4e4a8a8708a0bfe00055aa = $(`<div id="html_2ff55cebdc4e4a8a8708a0bfe00055aa" style="width: 100.0%; height: 100.0%;">NCT04372602<br><br>Duvelisib to Combat COVID-19</div>`)[0];
            popup_d9fbbda889eb441cbdc05ef1a53dafde.setContent(html_2ff55cebdc4e4a8a8708a0bfe00055aa);
        

        marker_882e52d46ba64a7dba02e86684f25947.bindPopup(popup_d9fbbda889eb441cbdc05ef1a53dafde)
        ;

        
    
</script>