<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8cd6316236af4fc3b90217d37509d381 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8cd6316236af4fc3b90217d37509d381" ></div>
        
</body>
<script>    
    
            var map_8cd6316236af4fc3b90217d37509d381 = L.map(
                "map_8cd6316236af4fc3b90217d37509d381",
                {
                    center: [39.8283, -98.5795],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8fce280fb7b44512a1ed7b8904b51c6f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
            var marker_74ee81e59ed84f45ad223ffaf8781434 = L.marker(
                [33.7959, -84.3283],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_513db6ae596a49f89cd1f4cf89feb0ce = L.popup({"maxWidth": "100%"});

        
            var html_f4399f823e984237972801018fdc3af9 = $(`<div id="html_f4399f823e984237972801018fdc3af9" style="width: 100.0%; height: 100.0%;">NCT04369599<br><br>Trans Thoracic Manipulation of Ventilation/Perfusion: the V/Q Vest</div>`)[0];
            popup_513db6ae596a49f89cd1f4cf89feb0ce.setContent(html_f4399f823e984237972801018fdc3af9);
        

        marker_74ee81e59ed84f45ad223ffaf8781434.bindPopup(popup_513db6ae596a49f89cd1f4cf89feb0ce)
        ;

        
    
    
            var marker_aa4be5bebf7d48558d4765a3c222cdf1 = L.marker(
                [35.9939, -78.8986],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_4a3040af06e047e1bbdce0b8d6523719 = L.popup({"maxWidth": "100%"});

        
            var html_ad33e26ba9d248e2ad0962a03b0d21db = $(`<div id="html_ad33e26ba9d248e2ad0962a03b0d21db" style="width: 100.0%; height: 100.0%;">NCT04336774<br><br>CAPTION AI to Minimize Risk of COVID Exposure</div>`)[0];
            popup_4a3040af06e047e1bbdce0b8d6523719.setContent(html_ad33e26ba9d248e2ad0962a03b0d21db);
        

        marker_aa4be5bebf7d48558d4765a3c222cdf1.bindPopup(popup_4a3040af06e047e1bbdce0b8d6523719)
        ;

        
    
    
            var marker_180d33444cd641898c08505f47c8a073 = L.marker(
                [38.5517, -121.4507],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_803426f6a2654fc8b2e051f2975fc205 = L.popup({"maxWidth": "100%"});

        
            var html_3ffdcdb8d9c3477d9ee1d60208163b43 = $(`<div id="html_3ffdcdb8d9c3477d9ee1d60208163b43" style="width: 100.0%; height: 100.0%;">NCT04376593<br><br>PET/CT Imaging in COVID-19 Patients</div>`)[0];
            popup_803426f6a2654fc8b2e051f2975fc205.setContent(html_3ffdcdb8d9c3477d9ee1d60208163b43);
        

        marker_180d33444cd641898c08505f47c8a073.bindPopup(popup_803426f6a2654fc8b2e051f2975fc205)
        ;

        
    
    
            var marker_254c2ea721cd443cbcbead29fc5dff4c = L.marker(
                [35.9939, -78.8986],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_d75ee9c1c8034d1e92a77535d1d4167d = L.popup({"maxWidth": "100%"});

        
            var html_91c6593f6a5c4b5d89141ddff991a4e4 = $(`<div id="html_91c6593f6a5c4b5d89141ddff991a4e4" style="width: 100.0%; height: 100.0%;">NCT04350073<br><br>Longitudinal Energy Expenditure and Metabolic Effects in Patients With COVID-19 (LEEP-COVID)</div>`)[0];
            popup_d75ee9c1c8034d1e92a77535d1d4167d.setContent(html_91c6593f6a5c4b5d89141ddff991a4e4);
        

        marker_254c2ea721cd443cbcbead29fc5dff4c.bindPopup(popup_d75ee9c1c8034d1e92a77535d1d4167d)
        ;

        
    
    
            var marker_a0d5f12a6562418d981b9d4d08624282 = L.marker(
                [33.7959, -84.3283],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_e7bdd5c6b51f4727a6736c7e9383c349 = L.popup({"maxWidth": "100%"});

        
            var html_9d7014a5593e432293408a3ce801e249 = $(`<div id="html_9d7014a5593e432293408a3ce801e249" style="width: 100.0%; height: 100.0%;">NCT04331366<br><br>Bidirectional Oxygenation Valve in the Management of Pulmonary Complications of COVID-19</div>`)[0];
            popup_e7bdd5c6b51f4727a6736c7e9383c349.setContent(html_9d7014a5593e432293408a3ce801e249);
        

        marker_a0d5f12a6562418d981b9d4d08624282.bindPopup(popup_e7bdd5c6b51f4727a6736c7e9383c349)
        ;

        
    
    
            var marker_901c2ce92a614ca38933594da9fbb341 = L.marker(
                [33.8819, -84.3783],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_e428367da2584398afd38a15b297f685 = L.popup({"maxWidth": "100%"});

        
            var html_6a1b8a90e1104931875d184beb4a276e = $(`<div id="html_6a1b8a90e1104931875d184beb4a276e" style="width: 100.0%; height: 100.0%;">NCT04331366<br><br>Bidirectional Oxygenation Valve in the Management of Pulmonary Complications of COVID-19</div>`)[0];
            popup_e428367da2584398afd38a15b297f685.setContent(html_6a1b8a90e1104931875d184beb4a276e);
        

        marker_901c2ce92a614ca38933594da9fbb341.bindPopup(popup_e428367da2584398afd38a15b297f685)
        ;

        
    
    
            var marker_d3396c28e60d4581b4fcf2dcd0a27622 = L.marker(
                [33.8819, -84.3783],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_9b639fd39f0246eeac2cc0a42c050eeb = L.popup({"maxWidth": "100%"});

        
            var html_51cd6537c94b4b919573efd73052919c = $(`<div id="html_51cd6537c94b4b919573efd73052919c" style="width: 100.0%; height: 100.0%;">NCT04326452<br><br>Treating COVID-19 With a Bidirectional Oxygenation Valve</div>`)[0];
            popup_9b639fd39f0246eeac2cc0a42c050eeb.setContent(html_51cd6537c94b4b919573efd73052919c);
        

        marker_d3396c28e60d4581b4fcf2dcd0a27622.bindPopup(popup_9b639fd39f0246eeac2cc0a42c050eeb)
        ;

        
    
    
            var marker_61e96b79e9b84058b6518df7e15b86df = L.marker(
                [32.2548, -110.8836],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_3a6c3ce8f7ff4fa691d161dfb4444f9a = L.popup({"maxWidth": "100%"});

        
            var html_46f61f53b2de4fcb9a011c5daae3e7b5 = $(`<div id="html_46f61f53b2de4fcb9a011c5daae3e7b5" style="width: 100.0%; height: 100.0%;">NCT04326452<br><br>Treating COVID-19 With a Bidirectional Oxygenation Valve</div>`)[0];
            popup_3a6c3ce8f7ff4fa691d161dfb4444f9a.setContent(html_46f61f53b2de4fcb9a011c5daae3e7b5);
        

        marker_61e96b79e9b84058b6518df7e15b86df.bindPopup(popup_3a6c3ce8f7ff4fa691d161dfb4444f9a)
        ;

        
    
    
            var marker_f42024637ea44233827fde9ba7e71eb7 = L.marker(
                [37.424, -122.1676],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
        var popup_7230f7eb49624ff287a172a52f52e9f2 = L.popup({"maxWidth": "100%"});

        
            var html_18af982520cc4f0fa54b0ffebf865088 = $(`<div id="html_18af982520cc4f0fa54b0ffebf865088" style="width: 100.0%; height: 100.0%;">NCT04326452<br><br>Treating COVID-19 With a Bidirectional Oxygenation Valve</div>`)[0];
            popup_7230f7eb49624ff287a172a52f52e9f2.setContent(html_18af982520cc4f0fa54b0ffebf865088);
        

        marker_f42024637ea44233827fde9ba7e71eb7.bindPopup(popup_7230f7eb49624ff287a172a52f52e9f2)
        ;

        
    
    
            var marker_5068635bec9c47ea9048c25d84d46d4a = L.marker(
                [41.972, -87.7037],
                {}
            ).addTo(map_8cd6316236af4fc3b90217d37509d381);
        
    
            var icon_a364be306b504f87ab19532276c5d6fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5068635bec9c47ea9048c25d84d46d4a.setIcon(icon_a364be306b504f87ab19532276c5d6fd);
        
    
        var popup_bd3dddc908db4a2b84fd8090d6230261 = L.popup({"maxWidth": "100%"});

        
            var html_14783d3bd43745d78893286d7757e331 = $(`<div id="html_14783d3bd43745d78893286d7757e331" style="width: 100.0%; height: 100.0%;">NCT04373161<br><br>Home Pulse Oximeter Use in Patients With COVID-19</div>`)[0];
            popup_bd3dddc908db4a2b84fd8090d6230261.setContent(html_14783d3bd43745d78893286d7757e331);
        

        marker_5068635bec9c47ea9048c25d84d46d4a.bindPopup(popup_bd3dddc908db4a2b84fd8090d6230261)
        ;

        
    
</script>