<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8bb48adaa45a489f9cd2299225d7bb88 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8bb48adaa45a489f9cd2299225d7bb88" ></div>
        
</body>
<script>    
    
            var map_8bb48adaa45a489f9cd2299225d7bb88 = L.map(
                "map_8bb48adaa45a489f9cd2299225d7bb88",
                {
                    center: [39.8283, -98.5795],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a73bed23b60649efa309af35ac1664b6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8bb48adaa45a489f9cd2299225d7bb88);
        
    
            var marker_6b857b3d5eba44c9983f0c405d51d013 = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_8bb48adaa45a489f9cd2299225d7bb88);
        
    
        var popup_85cf20d8417944de9140ce6b9c345f19 = L.popup({"maxWidth": "100%"});

        
            var html_a7d8614e20064534aa58fb2fd0ca037d = $(`<div id="html_a7d8614e20064534aa58fb2fd0ca037d" style="width: 100.0%; height: 100.0%;">NCT04354714<br><br>Ruxolitinib to Combat COVID-19</div>`)[0];
            popup_85cf20d8417944de9140ce6b9c345f19.setContent(html_a7d8614e20064534aa58fb2fd0ca037d);
        

        marker_6b857b3d5eba44c9983f0c405d51d013.bindPopup(popup_85cf20d8417944de9140ce6b9c345f19)
        ;

        
    
    
            var marker_085830015fd9415096c800b8387e5bec = L.marker(
                [38.0027, -78.6089],
                {}
            ).addTo(map_8bb48adaa45a489f9cd2299225d7bb88);
        
    
        var popup_d621c627490348d18e000f8c08f8c5d0 = L.popup({"maxWidth": "100%"});

        
            var html_03f105b039df415891d928cdff70f768 = $(`<div id="html_03f105b039df415891d928cdff70f768" style="width: 100.0%; height: 100.0%;">NCT04374565<br><br>Convalescent Plasma for Treatment of COVID-19 Patients With Pneumonia</div>`)[0];
            popup_d621c627490348d18e000f8c08f8c5d0.setContent(html_03f105b039df415891d928cdff70f768);
        

        marker_085830015fd9415096c800b8387e5bec.bindPopup(popup_d621c627490348d18e000f8c08f8c5d0)
        ;

        
    
    
            var marker_a1a0a788eff34bf7b6832e71c6588253 = L.marker(
                [34.0497, -118.2113],
                {}
            ).addTo(map_8bb48adaa45a489f9cd2299225d7bb88);
        
    
        var popup_457c336fed684b60a572fcb1d31e7c0d = L.popup({"maxWidth": "100%"});

        
            var html_fbc082cdefd546b9940671d46fa64c99 = $(`<div id="html_fbc082cdefd546b9940671d46fa64c99" style="width: 100.0%; height: 100.0%;">NCT04373044<br><br>Antiviral Therapy and Baricitinib for the Treatment of Patients With Moderate or Severe COVID-19</div>`)[0];
            popup_457c336fed684b60a572fcb1d31e7c0d.setContent(html_fbc082cdefd546b9940671d46fa64c99);
        

        marker_a1a0a788eff34bf7b6832e71c6588253.bindPopup(popup_457c336fed684b60a572fcb1d31e7c0d)
        ;

        
    
    
            var marker_98181fc05ddf449ba6e2a69e5cd5a777 = L.marker(
                [33.5605, -111.886],
                {}
            ).addTo(map_8bb48adaa45a489f9cd2299225d7bb88);
        
    
        var popup_d5c1868f602140b8b4a1366814888dba = L.popup({"maxWidth": "100%"});

        
            var html_e40ee0b9a8c243d187fbf707a01ea31b = $(`<div id="html_e40ee0b9a8c243d187fbf707a01ea31b" style="width: 100.0%; height: 100.0%;">NCT04339426<br><br>Atovaquone and Azithromycin Combination for Confirmed COVID-19 Infection</div>`)[0];
            popup_d5c1868f602140b8b4a1366814888dba.setContent(html_e40ee0b9a8c243d187fbf707a01ea31b);
        

        marker_98181fc05ddf449ba6e2a69e5cd5a777.bindPopup(popup_d5c1868f602140b8b4a1366814888dba)
        ;

        
    
    
            var marker_0c897e4febf3491dae84bce6ba6c5741 = L.marker(
                [41.7804, -87.597],
                {}
            ).addTo(map_8bb48adaa45a489f9cd2299225d7bb88);
        
    
        var popup_63454913fc454127a7cf35eaf30318b8 = L.popup({"maxWidth": "100%"});

        
            var html_bd090ff2e0e04ae28eaf77635e8f62de = $(`<div id="html_bd090ff2e0e04ae28eaf77635e8f62de" style="width: 100.0%; height: 100.0%;">NCT04331795<br><br>Tocilizumab to Prevent Clinical Decompensation in Hospitalized, Non-critically Ill Patients With COVID-19 Pneumonitis</div>`)[0];
            popup_63454913fc454127a7cf35eaf30318b8.setContent(html_bd090ff2e0e04ae28eaf77635e8f62de);
        

        marker_0c897e4febf3491dae84bce6ba6c5741.bindPopup(popup_63454913fc454127a7cf35eaf30318b8)
        ;

        
    
    
            var marker_7219e08a84064116869d50d3a2152d4d = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_8bb48adaa45a489f9cd2299225d7bb88);
        
    
            var icon_95436c5f5fc2416bb24df10de6926024 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7219e08a84064116869d50d3a2152d4d.setIcon(icon_95436c5f5fc2416bb24df10de6926024);
        
    
        var popup_3df5e22f31bc41efbf66ed9444e1fd82 = L.popup({"maxWidth": "100%"});

        
            var html_e6a155f51a1c4679a425b128c852cf5f = $(`<div id="html_e6a155f51a1c4679a425b128c852cf5f" style="width: 100.0%; height: 100.0%;">NCT04372602<br><br>Duvelisib to Combat COVID-19</div>`)[0];
            popup_3df5e22f31bc41efbf66ed9444e1fd82.setContent(html_e6a155f51a1c4679a425b128c852cf5f);
        

        marker_7219e08a84064116869d50d3a2152d4d.bindPopup(popup_3df5e22f31bc41efbf66ed9444e1fd82)
        ;

        
    
</script>