<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>

     <style>
.folium-map {

                     position: relative;
                     float:left;
                    width: 20.0%;
                    height: 30.0%;
                    left: 20.0%;
                    top: 10.0%;
}
</style>

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

            <style>
                #map_2c963a90f68a4ebf8d886dd4df8037c3 {
                    position: relative;
                     float:left;
                    width: 20.0%;
                    height: 30.0%;
                    left: 20.0%;
                    top: 10.0%;
                }
            </style>
                       
        
</head>
<body>    
    
          <div class="folium-map" id="map_2c963a90f68a4ebf8d886dd4df8037c3" ></div>
          <div class="folium-map" id="2222" >222222</div>
        
</body>
<script>    
    
            var map_2c963a90f68a4ebf8d886dd4df8037c3 = L.map(
                "map_2c963a90f68a4ebf8d886dd4df8037c3",
                {
                    center: [39.8283, -98.5795],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cea1c3c0954749cd849b21f885506d09 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2c963a90f68a4ebf8d886dd4df8037c3);
        
    
            var marker_0bfbf637afcc42f0982364aa43fedfff = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_2c963a90f68a4ebf8d886dd4df8037c3);
        
    
        var popup_0259878b7e1846a4ab854f361eff6b3c = L.popup({"maxWidth": "100%"});

        
            var html_6289ceaf6b9b4a6d84f015c34e6069b1 = $(`<div id="html_6289ceaf6b9b4a6d84f015c34e6069b1" style="width: 100.0%; height: 100.0%;">NCT04354714<br><br>Ruxolitinib to Combat COVID-19</div>`)[0];
            popup_0259878b7e1846a4ab854f361eff6b3c.setContent(html_6289ceaf6b9b4a6d84f015c34e6069b1);
        

        marker_0bfbf637afcc42f0982364aa43fedfff.bindPopup(popup_0259878b7e1846a4ab854f361eff6b3c)
        ;

        
    
    
            var marker_e0af49f7b90b49f7b63e2494f90556e4 = L.marker(
                [38.0027, -78.6089],
                {}
            ).addTo(map_2c963a90f68a4ebf8d886dd4df8037c3);
        
    
        var popup_17ff8e96b88349639a710aae7ccc6363 = L.popup({"maxWidth": "100%"});

        
            var html_180b4ee3052446f8af1cec776c14f97c = $(`<div id="html_180b4ee3052446f8af1cec776c14f97c" style="width: 100.0%; height: 100.0%;">NCT04374565<br><br>Convalescent Plasma for Treatment of COVID-19 Patients With Pneumonia</div>`)[0];
            popup_17ff8e96b88349639a710aae7ccc6363.setContent(html_180b4ee3052446f8af1cec776c14f97c);
        

        marker_e0af49f7b90b49f7b63e2494f90556e4.bindPopup(popup_17ff8e96b88349639a710aae7ccc6363)
        ;

        
    
    
            var marker_59bee14e90e14d35a14c87e201cdbce8 = L.marker(
                [41.7804, -87.597],
                {}
            ).addTo(map_2c963a90f68a4ebf8d886dd4df8037c3);
        
    
        var popup_37a12bb241724833977612100a6c495b = L.popup({"maxWidth": "100%"});

        
            var html_30720f87657746cd87725260cfb19abd = $(`<div id="html_30720f87657746cd87725260cfb19abd" style="width: 100.0%; height: 100.0%;">NCT04331795<br><br>Tocilizumab to Prevent Clinical Decompensation in Hospitalized, Non-critically Ill Patients With COVID-19 Pneumonitis</div>`)[0];
            popup_37a12bb241724833977612100a6c495b.setContent(html_30720f87657746cd87725260cfb19abd);
        

        marker_59bee14e90e14d35a14c87e201cdbce8.bindPopup(popup_37a12bb241724833977612100a6c495b)
        ;

        
    
    
            var marker_23313e8a0a6e46608ec20544c8ab7e69 = L.marker(
                [38.6266, -90.2694],
                {}
            ).addTo(map_2c963a90f68a4ebf8d886dd4df8037c3);
        
    
            var icon_246f5dabb8c849e992ee100124c7b195 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_23313e8a0a6e46608ec20544c8ab7e69.setIcon(icon_246f5dabb8c849e992ee100124c7b195);
        
    
        var popup_b1c863afb30c474faff9b6f4cca8dbb9 = L.popup({"maxWidth": "100%"});

        
            var html_bf4b60941a34458aba829db10d699df3 = $(`<div id="html_bf4b60941a34458aba829db10d699df3" style="width: 100.0%; height: 100.0%;">NCT04372602<br><br>Duvelisib to Combat COVID-19</div>`)[0];
            popup_b1c863afb30c474faff9b6f4cca8dbb9.setContent(html_bf4b60941a34458aba829db10d699df3);
        

        marker_23313e8a0a6e46608ec20544c8ab7e69.bindPopup(popup_b1c863afb30c474faff9b6f4cca8dbb9)
        ;

        
    
</script>

    
            <div class="folium-map" id="map_2c963a90f68a4ebf8d886dd4df8037c3" ></div>
